# ~/.config/helix/languages.toml

[[language]]
name = "cpp"
auto-format = true

[[language]]
name = "c"
auto-format = true

[[language]]
name = "go"
auto-format = true

[[language]]
name = "rust"
auto-format = true

[[language]]
name = "lua"
auto-format = true
